####        **Data Types in Python**

In [1]:
1+2

3

In [2]:
1-2

-1

In [3]:
1 + 2 * 3 +3

10

In [4]:
1 + 4 * 4 / 3

6

 About strings assignments

In [8]:
x = '2a'
print x

2a

In [10]:
var = 'hello'
print (var[0])
print(var [2:3])
print(var [:3])
print (var[2:])

h
l
hel
llo

In [20]:
name= 'Tarun'
Age = 30
print('My name is {} and i am {} year old'.format(name,Age))

My name is Tarun and i am 30 year old

In [21]:
print('My name is {one} and i am {two} year old'.format(one=name,two=Age))

My name is Tarun and i am 30 year old

 **List**

In [13]:
a = [1,2,3,4]
a[3]

4

In [14]:
a.append([4,5])
print a

[1, 2, 3, 4, [4, 5]]

In [16]:
del a[2]
print a

[1, 2, [4, 5]]

In [22]:
a[1] = 'Tarun'
print a

[1, 'Tarun', [4, 5]]

In [35]:
nest = [1,2,3,[4,5,['tarun']]]
print (nest[3][2][0][3])

u

            Dictionaries

In [37]:
d ={'key':'value','Test1':'hello'}
print d

{'Test1': 'hello', 'key': 'value'}

In [39]:
d['key']

'value'

In [40]:
'key' in d

True

In [42]:
d.items() # this way you can covert to list of tuples

[('Test1', 'hello'), ('key', 'value')]

In [48]:
print ((d.items())[0])

('Test1', 'hello')

In [47]:
print(d.get('key'))

value

                Tuples

In [49]:
a =(1,2,4)
print a

(1, 2, 4)

In [50]:
type(a)

tuple

In [53]:
print a[0]  # same  like array again

1

In [54]:
a[0] ='tarun'  # does not support assignment , they are immutables

TypeError: 'tuple' object does not support item assignment

In [62]:
my_tuple =[(1,2,2),4,6]

In [63]:
type(my_tuple)

list

In [64]:
print (my_tuple[1])

4

In [65]:
print (my_tuple[0][2])

2


                
              They are used to store unique objects, they will not throw error if you add duplicat items,
              
               you can use the add method to insert item

In [66]:
setname={3,4,5,6,6,6,6,4,,3,4} # no spaces allowed

SyntaxError: invalid syntax (<ipython-input-66-aaf13f16e9e3>, line 1)

In [67]:
setname={3,4,5,6,6,6,6,4,3,4}

In [68]:
print setname

set([3, 4, 5, 6])

In [69]:
print type(setname)

<type 'set'>

            Comparison

In [70]:
print 1 < 2

True

In [71]:
print 1 > 2

False

In [72]:
print True

True

In [74]:
print False

False

In [75]:
print True and False

False

In [76]:
print True or False

True

In [79]:
print (True and False) or (False and False)

False

In [80]:
print 'hi' == 'hi'

True

In [81]:
print 'hi' == 'bye'

False

In [82]:
print 'hit'!= 'bye'

True

               If else conditions

In [84]:
if 2 >=3:
    print'hello'

In [85]:
if 2== 2:
    print 'this is true'

this is true

In [88]:
if 2 >3:
    print 'this is false'
else:
    print 'this it true'

this it true

In [89]:
if 2 >3:
    print 'this is false'
elif 3 ==3:
    print 'this is 3'
else:
    print 'this it true'

this is 3

          For Loops

In [93]:
for k in range(2,5):
    print k

2
3
4